<phpunit bootstrap="bootstrap.php">
	<php>
		<const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PORT" value="9515"/>
		<const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_BROWSER" value="chrome"/>
	</php>
	
	<testsuites>
		<testsuite>
			<file>testsuites/Contact_Form_Test.php</file>
			<file>testsuites/Login_Test.php</file>
		</testsuite>
	</testsuites>
        
    <listeners>
		<listener class="PHPUnit_TestListener_Error_Reporting_Strict" file="lib/PHPUnit_TestListener_Error_Reporting_Strict.php"/>
	</listeners>
</phpunit>